footer.footer 
    nav 
        ul.footer_nav 
            li: a(href="#") About us
            li: a(href="#") Download apps
            li: a(href="#") Careers 
            li: a(href="#") Contact 
    p.footer__copyright &copy; by Olayinka Olaniyi. All rights reserved.