extends base 

block content 

    h1 Completed Tasks

    a.back-link(href='/') â† Back to All Tasks

    if tasks.length
        each task in tasks
            .task-card
                h3= task.title
                p= task.description
                a(href=`/tasks/${task._id}`) View Task
    else
        p No completed tasks.